
MONGODB_URI=mongodb+srv://littleelarasteps_db_user:7Pdqu6QrQDqpzD3b@elara.5o6kgd0.mongodb.net/?appName=Elara


BREVO_API_KEY=xsmtpsib-e65dc441ee4c5889064ec67f76d52c63202d51dac87263ef70fbd837081c77dc-yDgCfgYXEw32j7p4
BREVO_SENDER_EMAIL=littleelarasteps@gmail.com
BREVO_SENDER_NAME=Little Elara Steps

ADMIN_EMAIL=littleelarasteps@gmail.com
ADMIN_NAME=Admin


NOTIFY_EMAIL=true


AUTH_SECRET=e1f6cd0bb2ac988fc4da3eaa53a85eda4d0f1e120d08656d604be79194ab428b7723ec4c1f22161747e6c5b4eae698cbe054ba156c31d411ca2d71eb1cbce5ae
